<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/icon" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>    
    <Label class="action-bar-title|" text="Listado de Productos"></Label>
</ActionBar>
<StackLayout class="page page-content" orientation="vertical">
    <Label class="page-placeholder" *ngFor="let item of this.productService.buscar()" [text]="item" (tap)="showProduct(item)"></Label>
</StackLayout>

